// CONTAINER
@mixin container{
    width: 100%;
    max-width: $desktop;
    margin: 0 auto;
}

@mixin section{
    width: 100%;
    padding-block: 8rem;
    margin: 0 auto;
    position: relative;
}


@mixin primary-btn{
    // Layout & Shape
    outline: none;
    border: 0;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 0 48px 48px 48px;
    box-shadow: 4px 7px 0px #B99A46;

    // colors & Effects
    background-color: $accent-color;
    transform: scale(1);

    // Positioning
    position: relative;

    // Fonts
    color: $secondary-color;
    font-size: $font-medium;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;

    // Others
    cursor: pointer;
    transition: $std-transition;

    // Hover state
    &:hover{
        background: $secondary-color;
        color: $primary-color;
        box-shadow: 4px 4px 0px #B99A46;
        letter-spacing: 2px;
        transform: scale(1.1);
    }
}

@mixin primary-btn-flipped{
   @include primary-btn;
   // Layout & Shape
   border-radius: 48px 0px 48px 48px;
}

@mixin secondary-btn{
    // Layout & Shape
    outline: none;
    border: 0;
    padding-inline: 1.5rem;
    padding-block: .5rem;
    border-radius: 0 48px 48px 48px;

    // colors & Effects
    background: transparent;
    border: solid 1px $secondary-color;

    // Fonts
    color: $secondary-color;
    font-size: $font-medium;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: 500;

    // Others
    cursor: pointer;
    transition: $std-transition;

    // Hover state
    &:hover{
        background: $secondary-color;
        color: $primary-color;
        letter-spacing: 2px;
        transform: scale(1.1);
    }
}

@mixin terciary-btn{
    // Layout & Shape
    padding: 1rem;

    // colors & Effects
    background: transparent;
    border: 0;

    // Fonts
    color: $secondary-color;
    font-weight: 700;
    letter-spacing: 1px;

    // Others
    cursor: pointer;
    transition: $std-transition;

    //Hover state
    &:hover{
        color: $accent-color;
        letter-spacing: 2px;
        transform: scale(1.1);
    }
}

@mixin card{
    // SIZING, SPACING & POSITION
    width: 100%;
    padding: 2rem 2rem;

    // FLEXBOX
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    // APPEARANCE
    background: $card-gradient;
    border-radius: 3rem;

    //CHILDREN
    text-align: center;

    //EFFECTS
    transition: $std-transition;
    box-shadow: $card-shadow;

    &:hover{
        background: $card-gradient-hover;
        border: solid 1px $secondary-color;
        transform: translateY(-10px);
        box-shadow: $card-shadow-hover;
    }
}