/* 

CEDRO EDUCATION GROUP 2023 - ALL RIGHTS RESERVED

DEVELOPED BY: GUSTAVONERI.ART
EMAIL: GUSTAVONERIPEIXOTO@GMAIL.COM

*/
/* RESET ANY BROWSER STANDARD STYLE */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-block: 0;
}

/* COLORS */
/* TYPOGRAPHY */
/* LAYOUT */
/* TRANSTIONS & ANIMATION */
@media all and (min-width: 916px) and (max-width: 1239px) {
  /* LAYOUT */
}
@media all and (max-width: 480px) {
  /* LAYOUT */
}
/* =============================== LAYOUT ==================================== */
body {
  font-family: "Manrope", sans-serif;
  color: #022A31;
  background-color: #F0F9FA;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* =============================== GLOBAL STYLES ==================================== */
h1 {
  font-size: 2.5rem;
  margin-block: 1rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #055D6B;
  margin-block: 0.5rem;
}

p {
  font-size: 1rem;
  margin-block: 0.5rem;
  line-height: 150%;
}
p span {
  font-weight: 700;
}

a {
  color: #055D6B;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #ECB213;
}

.site-title {
  font-size: 6rem;
  color: #F0F9FA;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 86%;
}
.site-title span {
  font-weight: 700;
}

.site-bio {
  font-size: 2.25rem;
  color: #F0F9FA;
  font-weight: 300;
  line-height: 100%;
}
.site-bio span {
  font-weight: 700;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
}
.section-title span {
  font-weight: 300;
}

/* =============================== COMPONENTS ==================================== */
.primary-btn {
  outline: none;
  border: 0;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0 48px 48px 48px;
  box-shadow: 4px 7px 0px #B99A46;
  background-color: #ECB213;
  transform: scale(1);
  position: relative;
  color: #055D6B;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background: #055D6B;
  color: #F0F9FA;
  box-shadow: 4px 4px 0px #B99A46;
  letter-spacing: 2px;
  transform: scale(1.1);
}

.primary-btn-flipped {
  outline: none;
  border: 0;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0 48px 48px 48px;
  box-shadow: 4px 7px 0px #B99A46;
  background-color: #ECB213;
  transform: scale(1);
  position: relative;
  color: #055D6B;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 48px 0px 48px 48px;
}
.primary-btn-flipped:hover {
  background: #055D6B;
  color: #F0F9FA;
  box-shadow: 4px 4px 0px #B99A46;
  letter-spacing: 2px;
  transform: scale(1.1);
}

.secondary-btn {
  outline: none;
  border: 0;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 0 48px 48px 48px;
  background: transparent;
  border: solid 1px #055D6B;
  color: #055D6B;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.secondary-btn:hover {
  background: #055D6B;
  color: #F0F9FA;
  letter-spacing: 2px;
  transform: scale(1.1);
}

.terciary-btn {
  padding: 1rem;
  background: transparent;
  border: 0;
  color: #055D6B;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.terciary-btn:hover {
  color: #ECB213;
  letter-spacing: 2px;
  transform: scale(1.1);
}

/* DELETE THIS LATER */
.dark {
  background-color: #055D6B;
  padding: 5rem;
}

/* =============================== SECTIONS ==================================== */
.header {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 100;
  background: #055D6B url(../images/background.jpg) no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-size 1s ease;
}
.header--nav {
  width: 100%;
  padding: 5rem 0 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
}
.header--nav--container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--nav--container--links {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--nav--container--links a {
  color: #F9FEFF;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 300;
}
.header--nav--container--links a:hover {
  color: #ECB213;
}
.header--nav--container--links--btn {
  outline: none;
  border: 0;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0 48px 48px 48px;
  box-shadow: 4px 7px 0px #B99A46;
  background-color: #ECB213;
  transform: scale(1);
  position: relative;
  color: #055D6B;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 48px 0px 48px 48px;
}
.header--nav--container--links--btn:hover {
  background: #055D6B;
  color: #F0F9FA;
  box-shadow: 4px 4px 0px #B99A46;
  letter-spacing: 2px;
  transform: scale(1.1);
}
.header--hero {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.header--hero--content {
  max-width: 721px;
}
.header--hero--content p {
  line-height: 120%;
}
.header--hero--content button {
  margin-top: 3rem;
}

.sticky {
  padding: 1rem 0;
  background: rgba(2, 42, 49, 0.6);
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

/* WAVE ANIMATION */
.ocean {
  height: 0.05%;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: transparent;
}

.wave {
  background: url(../images/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 60s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.about {
  width: 100%;
  padding-block: 8rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  margin: -10.5% auto 0;
}
.about--container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
}
.about--container--img {
  width: 100%;
  height: 100%;
}
.about--container--content {
  max-width: 506px;
  margin-block: 5rem;
}
.about--container--content h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.about--container--content h1 span {
  font-weight: 300;
}

.big-square {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  transform: rotate(45deg);
}

.square-1,
.square-2 {
  border-radius: 24px;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 20px rgba(19, 34, 116, 0.2);
}

.square-1 {
  background: radial-gradient(94.28% 94.28% at 3.11% 3.17%, #022A31 0%, #055D6B 100%);
}

.square-2 {
  background: linear-gradient(180deg, #F0F9FA 0%, #F9FEFF 100%);
}

.square-1:hover,
.square-2:hover {
  transform: translate(-20px, -20px);
  transform: scale(1.1);
}

.content {
  transform: rotate(-45deg) translate(0%, 12.5%);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  width: 100%;
  padding-block: 8rem;
  margin: 0 auto;
  position: relative;
}
.services--container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.services--container .section-title {
  text-align: center;
  color: #F0F9FA;
}
.services--container--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.services--container--grid--card {
  background: #F0F9FA;
  padding: 2rem;
  border-radius: 3rem;
  text-align: center;
  transition: all 0.3s ease;
  transform: scale(1);
}
.services--container--grid--card:hover {
  transform: scale(1.1);
}
.services--container--grid--card h3 {
  font-size: 1.5rem;
  text-align: center;
}

.banner {
  width: 100%;
  padding-block: 8rem;
  margin: 0 auto;
  position: relative;
}
.banner--container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}
.banner--container button {
  margin-top: 4rem;
  margin-bottom: 7px;
}

.contact {
  width: 100%;
  padding-block: 8rem;
  margin: 0 auto;
  position: relative;
  background: #055D6B;
}
.contact--container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact--container--info {
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
.contact--container--info img {
  width: 356px;
}
.contact--container--form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact--container--form label {
  margin-block: 0.75rem;
  padding-left: 1rem;
  color: #F0F9FA;
}
.contact--container--form input {
  width: 100%;
  height: 56px;
  max-width: 608px;
  border: 0;
  vertical-align: middle;
  padding-inline: 1rem;
  border-radius: 28px;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #055D6B;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.contact--container--form input::-moz-placeholder {
  color: #055D6B;
}
.contact--container--form input::placeholder {
  color: #055D6B;
}
.contact--container--form input:focus {
  opacity: 1;
}
.contact--container--form button {
  width: -moz-fit-content;
  width: fit-content;
  color: #F0F9FA;
  border: solid 1px #F0F9FA;
  margin-block: 2rem;
}
.contact--container--form textarea {
  width: 100%;
  height: 168px;
  max-width: 608px;
  resize: none;
  border: 0;
  font-family: "Manrope", sans-serif;
  vertical-align: middle;
  padding-inline: 1rem;
  border-radius: 28px;
  padding-block: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #055D6B;
  opacity: 0.7;
}
.contact--container--form textarea:focus {
  opacity: 1;
}
.contact--container--form textarea::-moz-placeholder {
  color: #055D6B;
}
.contact--container--form textarea::placeholder {
  color: #055D6B;
}

footer {
  width: 100%;
  padding-block: 1rem;
  background: #022A31;
  color: #F0F9FA;
  text-align: center;
  font-size: 0.75rem;
  bottom: 0;
}

/* =============================== MEDIA QUERIES ==================================== *//*# sourceMappingURL=style.css.map */