@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* 
ORGANIZE
Cmd + P => Sort....
Naming convention methodology
BEM => Block Element Modifier
.btn--secondary => --- is the modifier, etc.
*/

/* || VARIABLES */
:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */

  --main-bg-color: #fbfbfb;
  --grey-bg-color: #ebeff5;
  --splash-bg-color: 1C3664;
  --primary-color: #fbfbfb;
  --darkest-color: #080830;
  --secondary-color: #3a68b8;
  --accent-color: #f2a009;
  --neutral-50: #6f6f80;
  --base-font-size: 1rem;
}

/* || RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--main-bg-color);
  color: var(--darkest-color);
  overflow-x: hidden;
  font-size: var(--base-font-size);
  min-height: 100vh;
  position: relative;
}

/* || MAIN LAYOUT */
header,
section,
main {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
}

/* Temporary borders */
header {
  border: solid 1px red;
}

section {
  border: solid 1px blue;
}

main {
  border: solid 1px magenta;
}

footer {
  border: solid 1px green;
}

/* || HEADER */
.header {
  padding: 1.5em 0 1em;
}

/* || HERO */
.hero {
  min-height: 80vh;
}

/* || MAIN */
.main {
  min-height: 100vh;
}

/* || FOOTER */
.footer {
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}

/* || MEDIA QUERIES */

/* Mobile */
@media only screen and (max-width: 600px) {
  .header {
    padding: 1.25em 1em;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
  .header {
    padding: 1.5em 1.25em;
  }
}

/* Tablet */

/* || UTILITIES */
