@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* VARIABLES */
:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #fbfbfb;
  --grey-bg-color: #ebeff5;
  --splash-bg-color: 1C3664;
  --primary-color: #fbfbfb;
  --darkest-color: #080830;
  --secondary-color: #3a68b8;
  --accent-color: #f2a009;
  --neutral-50: #6f6f80;
  --base-font-size: 1rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--main-bg-color);
  color: var(--darkest-color);
  font-size: clamp(1rem, var(--base-font-size), var(--base-font-size));
  overflow-x: hidden;
}

header {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  position: relative;
}

/* LAYOUT */
header,
main,
footer {
  width: 100%;
  margin: 0 auto;
}

footer {
  padding: 1em 10vw;
  text-align: center;
  background: var(--darkest-color);
  color: var(--primary-color);
  font-size: 12px;
}

section {
  padding: 5% 10%;
  position: relative;
}

section h1 {
  font-size: 2.5vw;
  letter-spacing: -2px;
}

nav.navbar {
  width: 100%;
  padding: 2.5% 5% 1.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  color: #080830;
  font-size: 1rem;
  font-weight: 400 !important;
}

.primary-btn {
  padding: 16px 32px;
  background: var(--secondary-color);
  color: var(--primary-color) !important;
  border-radius: 16px;
  display: block;
  transition: all 0.2s ease-out;
}

.primary-btn:hover {
  background: var(--accent-color);
  color: var(--darkest-color) !important;
}

.terciary-btn {
  border-bottom: solid 1px var(--secondary-color);
  padding: 0.5em 1.5em;
  transition: all 0.2s ease-out;
}
.terciary-btn:hover {
  background: var(--secondary-color);
  border-bottom: none;
  color: var(--primary-color);
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
}

span {
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  vertical-align: text-bottom;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: clamp(
    3rem,
    calc(var(--base-font-size) * 3),
    calc(var(--base-font-size) * 5)
  );
}

p {
  line-height: 1.5;
}

a {
  width: fit-content;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.2s ease-out;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color: var(--accent-color);
}
textarea {
  resize: none;
}
input,
textarea {
  font-family: "Manrope", serif;
  font-size: 1em;
  font-weight: normal;
}
input[type="submit"] {
  cursor: pointer;
  font-weight: 600;
}

/* ---------------- HERO SECTION ----------------*/
.hero {
  width: 100%;
  height: 66.21vh;
  min-height: 80vh;
  position: relative;
  padding-left: 10%;
}

.hero .content {
  width: 45%;
  height: 100%;
  max-width: 1245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}

.hero .content h1 {
  font-size: clamp(
    3rem,
    calc(var(--base-font-size) * 4),
    calc(var(--base-font-size) * 5)
  );
  letter-spacing: -3px;
}

.hero .content p {
  max-width: 480px;
  color: var(--neutral-50);
}

.hero .image {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.hero .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  overflow: hidden;
}
/* ---------------- ABOUT SECTION ----------------*/
.about {
  max-width: 1100px;
  margin: 0 auto;
}

.about h1 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--neutral-50);
  letter-spacing: 0;
  text-align: center;
}

.about h2 {
  font-size: clamp(
    2.5rem,
    calc(var(--base-font-size) * 2.5),
    calc(var(--base-font-size) * 3)
  );
  letter-spacing: 0;
  line-height: 1.2;
  margin: 10% 0 6%;
  text-align: center;
}

.about p {
  margin: 0 0 5%;
}

.about .about-img {
  position: absolute;
  right: 0;
  top: 70%;
}
/* ---------------- FEATURES SECTION ----------------*/
.features {
  margin: 1.25% 14.72% 0;
}

.features-list {
  list-style: none;
  margin: 4.67% 0 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: stretch;
}

.features-list li {
  padding: 2.5rem;
  border-radius: 16px;
  background: var(--grey-bg-color);
  transition: background 0.2s ease;
  vertical-align: center;
}

.features-list li:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.features-list li:hover h2 {
  color: var(--primary-color);
}

.features-list h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0 0 1em;
}
/* ---------------- SERVICES SECTION ----------------*/
.services {
  padding: 5vh 10vw;
}

.services h1 {
  margin: 5vh 0 0;
  text-align: center;
}

.services-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 5vh 0 5vh;
}

.services-item {
  padding: 3em;
  border: solid 1px #dadae0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
}

.services-item h2 {
  color: var(--secondary-color);
}

.services-item a.terciary-btn {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

/* ---------------- TESTIMONIALS SECTION ----------------*/
.testimonials {
  width: 100%;
  min-height: 60vh;
}

.testimonials h1 {
  margin: 0vh 10vw 5vh;
  text-align: center;
}

.testimonials-list {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.testimonials-item {
  width: 100%;
  margin: 0 auto;
}

.testimonials-item p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
.testimonials-item p.person-name {
  font-size: 1em;
  margin-top: 2.5vh;
  text-align: right;
}
/* ---------------- CTA SECTION ----------------*/

.cta {
  width: 100%;
  padding: 0;
  background: #1c3664;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.cta span {
  color: var(--accent-color);
}
.cta-image {
  width: 50%;
}
.cta-content {
  width: 50%;
  height: 100%;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  justify-content: center;
}
.cta .primary-btn {
  color: var(--darkest-color) !important;
  background: var(--primary-color);
}
.cta .primary-btn:hover {
  background: var(--accent-color);
}
/* ---------------- CONTACT SECTION ----------------*/
.contact {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  padding-bottom: 2.5vw;
}
.contact h1 {
  margin: 2.5vw 0 5vw;
  text-align: center;
}
.contact-container {
  width: 100%;
  display: flex;
}
.section-column {
  width: 100%;
  padding: 1.25vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-column p {
  margin-bottom: 2.5vw;
}
.section-column:last-child {
  border-left: solid 1px var(--secondary-color);
}
.contact-form {
  width: 100%;
  height: 100%;
}
.contact-form .form-group {
  margin: 1.5em 0;
}
.contact-form label {
  margin-left: 16px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0 16px;
  margin: 8px 0;
  border-radius: 16px;
  background: #ebeff5;
}
.contact-form textarea {
  padding-block: 16px;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  height: 48px;
}
.contact-img {
  margin-bottom: 2.5vw;
}
.contact-content h3 {
  color: var(--neutral-50);
  font-weight: 400;
  font-size: 14px;
}
.contact-content ul {
  list-style: none;
}
.contact-content li {
  margin: 8px 0;
  font-weight: 700;
  font-size: 16px;
}

/* ---------------- DECORATIVE ELEMENTS ----------------*/
.details-left {
  width: 24.65vw;
  height: 128.32vh;
  position: absolute;
  top: 39.16vh;
  left: 0;
  background: url("../images/symbol-detail-left.svg");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: -1;
}

.details-right {
  width: 23.81vw;
  height: 128.32vh;
  position: absolute;
  top: 217.57vh;
  right: 0;
  background: url("../images/symbol-detail-right.svg");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: -1;
}
