@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/*

How I organize element PROPERTIES:
• Box size and Positioning
• Spacing
• Children (Specify children behaviour within element).
• Style (background, stroke, outline, colors, etc).
• Type (everything text related)
• Effects (Css special effects)
• Animation (Animation keyframes)

*/

/* || VARIABLES */
:root {
  /* COLORS */
  --main-bg-color: #fbfbfb;
  --grey-bg-color: #ebeff5;
  --splash-bg-color: 1C3664;
  --primary-color: #fbfbfb;
  --darkest-color: #080830;
  --secondary-color: #3a68b8;
  --accent-color: #f2a009;
  --neutral-50: #6f6f80;
  --base-font-size: 1rem;

  /* TYPE SETTINGS*/
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* || RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: var(--main-bg-color);
  color: var(--darkest-color);
  font-size: var(--base-font-size);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* || MAIN LAYOUT */
header {
  width: 100%;
}
section,
main {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
}

/* Temporary borders */
/* header {
  border: solid 1px red;
}
section {
  border: solid 1px blue;
}
main {
  border: solid 1px magenta;
} */

/* || HEADER */
.header {
  /* Spacing */
  padding: 1.5em 10vw 1em;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  /* Children */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  /* Style */
  background: var(--grey-bg-color);
}

.header.scrolled {
  padding: 1em 10vw;
  background: var(--primary-color);
  filter: drop-shadow(0px 10px 10px #6f6f8016);
}

.header__logo {
  /* Box size & Positioning */
  height: 56px;
  z-index: 20;
}

.header__logo img {
  height: 100%;
  object-fit: contain;
}

.header.scrolled .header__logo {
  height: 36px;
}

.header__nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav__nav-links {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.nav__nav-links li,
.nav__nav-links a {
  display: block;
}

.nav__nav-links a {
  padding: 0.5em 1em;
  color: var(--darkest-color);
  text-decoration: none;
}

.nav__nav-links a:hover {
  color: var(--secondary-color);
}

/* || HERO */
.hero {
  min-height: 80vh;
  max-width: 100%;
  background: linear-gradient(
    180deg,
    rgba(235, 239, 245, 1) 0%,
    rgba(251, 251, 251, 0) 100%
  );
}

.hero .container {
  max-width: 100%;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}

.hero__image {
  height: clamp(50vh, 900px, 80vh);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  width: 40%;
  margin-left: 2.5vw;
}

.hero__content h1 {
  max-width: 750px;
  font-size: clamp(48px, 3.5vw, 5vw);
  letter-spacing: -3px;
  line-height: 1;
  margin-bottom: 2vw;
}

.hero__content h1 span {
  color: var(--secondary-color);
}

.hero__content p {
  margin-bottom: 3vw;
  max-width: 500px;
  font-size: 1.125em;
}

/* || MAIN */
.main {
  min-height: 100vh;
}

/* || ABOUT US */
.main__about {
  min-height: 640px;
  padding: 5vw 0;
}

.main__about .container {
  position: relative;
}

.about__content {
  max-width: 34vw;
  margin: 0 auto;
  flex-direction: column;
  gap: 1vw;
}

.about__content h1 {
  font-size: 1em;
  color: var(--neutral-50);
  text-transform: uppercase;
  text-align: center;
  line-height: 3em;
}

.about__content h1::before,
.about__content h1::after {
  content: "—";
  margin-right: 10px;
  margin-left: 10px;
}

.about__content h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 48px;
}

.about__content h2 span {
  color: var(--secondary-color);
}

.about__content p {
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.about__image {
  position: absolute;
  right: 5%;
  top: 80%;
}

/* || FOOTER */
.footer {
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
  background: var(--darkest-color);
  color: var(--primary-color);
}

/* || MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 1100px) {
  /* || HEADER */
  .header {
    padding: 1.25em;
  }

  .header__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background: var(--grey-bg-color);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .header__nav.hide {
    transform: translate(100%);
    /* opacity: 0; */
    visibility: hidden;
  }

  .nav__nav-links {
    width: 100%;
    height: 100%;
    padding: 0 25%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .nav__nav-links a {
    width: 100%;
    padding: 2em;
    text-align: center;
  }

  .header__burger {
    width: 36px;
    height: 36px;
    z-index: 11;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .header__burger span {
    width: 100%;
    height: 2px;
    background: var(--darkest-color);
  }

  .header__burger.close span:first-child {
    transform: translate(0, 9px) rotate(-45deg);
  }

  .header__burger.close span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .header__burger.close span:last-child {
    transform: translate(0, -9px) rotate(45deg);
  }

  .header.scrolled {
    padding: 1em;
  }

  .header.scrolled .header__logo {
    height: 36px;
  }

  /* HERO TABLET */
  .hero__content {
    max-width: 650px;
    width: 100%;
    padding: 10vw 5vw;
    margin-left: 0;
  }

  /* ABOUT */
  .about__content {
    max-width: 85vw;
  }

  .about__image {
    position: static;
    width: 120px;
    height: auto;
    margin: 0 auto;
  }

  /* || UTILITIES */
  .flex {
    flex-direction: column;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  /* || HEADER */
  .header {
    padding: 1em 1em;
  }

  .header__logo {
    height: 36px;
  }

  .nav__nav-links {
    padding: 10%;
  }

  .nav__nav-links a {
    font-size: 1.125em;
  }

  /* HERO MOBILE */

  .hero {
    margin: 0 0 10vw;
  }

  .hero .container {
    gap: 10vw;
    padding: 0 2px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }

  .hero__content h1 {
    font-size: 2.5rem;
    letter-spacing: -1px;
    padding: 0;
    line-height: 1.2;
    text-align: center;
  }

  .hero__content p {
    text-align: center;
  }

  .hero__image {
    max-width: 120%;
    height: auto;
  }

  /* ABOUT */
  .about__content {
    text-align: center;
  }
  .about__content h2 {
    font-size: 2em;
  }
}

/* || COMPONENTS */
.primary_btn {
  width: fit-content;
  padding: 16px 32px;
  display: block;
  background: var(--secondary-color);
  border-radius: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
}

.primary_btn:hover {
  background: var(--accent-color);
  color: var(--darkest-color);
}

/* || UTILITIES */
.flex {
  display: flex;
}
